<div class="welcome">
    <h1>Welcome</h1>
    <h3>to the</h3>
    <h1>D.V.O. Classic</h1>
</div>

<div class="log-in-form">
    <h2>Login</h2>
    <form action="/log-in" method="post">
        <input type="email" placeholder="Email" name="email" id="email">
        <input type="password" placeholder="Password" name="password" id="password">
        <input type="submit" value="Login" id="loginButton">
    </form>
    <div class="text-background">

    <p>If you would like to keep score with the group you need to log in.</p>
    <p>Need to create a new account? <a href="/register">Click Here</a> to sign up!</p>
    </div>
</div>