
{{> mainMenu }}

<div class="invite-header">
<h1>You're</h1>
<h1>Invited!</h1>
</div>

<div class="invite-info">
    <h2>David V. Olson's</h2>
    <h3>Celebration of Life</h3>
</div>
<div class="invite-info">
    <h4>Location</h4>
    <p>Hunters Golf Course</p>
    <p>Meriden, CT</p>
</div>
<div class="invite-info">
    <h4>When</h4>
    <p>Saturday, October 17th 2020</p>
    <h5>Golf Tournement</h5>
    <p>1:00pm</p>
    <h5>Appitizers &amp; Celebration</h5>
    <p>4:30pm</p>
</div>